::before,
::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #bc95e0;
    font-family: "Oswald", sans-serif;
}

.proH {
    text-align: center;
    color: #f4f1f1;
    margin-top: 20px;
    text-transform: uppercase;
}