*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #520e0e;
    font-family: "Oswald", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body a {
    color: #777;
    text-decoration: none;
    margin: 10px;
    font-size: 1.2rem;
}

main {
    flex: 1;
}

.picm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.recipe-image h1 {
    text-align: center;
    color: #f4f1f1;
}


.recipe-image img {
     width: 400px;
     height: auto;
     border-radius: 12px;
}

div h1 {
    margin: 20px;
    display: block;
}

.proH {
    text-align: center;
    color: #f4f1f1;
    margin-top: 20px;
    text-transform: uppercase;
}

.link-class {
    text-align: center;
    margin: 20px;
}

.link-class a {
    text-decoration: none;
    color: #777;
    font-size: 1.5rem;
}

ul li {
    list-style-type: none;
    margin: 15px;
}

/* Recipe page */
.recipe-class,
.desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.desc h1, h2 {
    color: #f4f1f1;
    margin: 20px;
}

.desc p {
    color: #777;
    font-size: 1.1rem;
    line-height: 1.6rem;
    margin: 10px;
}

.desc li {
    color: #777;
    list-style-type: none;
    font-size: 1.1rem;
    line-height: 1.6rem;
}



/* Footer */
footer {
    text-align: center;
    background-color: #520e0e;
    padding: 10px;
    margin: 20px;
    color: white;
}

footer a {
    color: #777;
    text-decoration: none;
}